@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:400);

.App {
  text-align: center;
}

.moreInfo{
  position: absolute;
  left: 1%;
  bottom: 1%;
  animation: fadeup 1.5s ease-out .2s forwards, slide-in-bck-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.nameIMG {
  margin-top: 10%;
  width: 100%;
  opacity: 0;
  animation: fadeup 1.5s ease-out .2s forwards;  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.var-highlight{
  color: #bdab63;
}
.string-highlight{
  color: rgba(233, 152, 105, 0.8);
}
.var-highlight2{
  color: #6798d1;
}
.string-highlight2{
  color: rgba(253, 149, 90, 0.8);
}
.name-highlight{
  color: rgba(206, 64, 99, 0.8);
}
.punctuation-highlight{
  color: rgba(216, 216, 216, 0.8);
}

.function-highlight{
  color: rgba(168, 138, 216, 0.8);
}

#typewriter{
    font-size: 1.2vw;
    margin: 0;
    font-family: "Courier New";

    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
}

.textBox{
margin: 10%;
text-align: left;
}


h1.connect{
  font-size: 7vw;
  font-weight: 1000;
  background-color: rgba(14, 14, 14, 0.705);
  color: transparent;
  text-shadow: 4px 4px 12px #231f20;              
  -webkit-background-clip: text;
          background-clip: text;
  animation: fadedown 3s;
}

p.connect{
  font-size: 1vw;
  color: #2a2a2a;
  font-weight: 400;
  animation: faderight 3s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}

.linkImg{
  border-radius: 20%;

}

.linkLogo{
  background-color: #ffffff00;
  width: 18vw;
  height: 18vw;
  top: 13vw;
  left: 5%;
  position: absolute;
  margin: 0 auto;
  border-radius: 30%;
  border: solid 1.3vw rgba(255, 255, 255, 0);
  animation: play 4s ease infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.linkLogo--linkedin{
  background-color: #ffffff00;
  left: 40%;
  animation-delay: .5s;
}

.linkLogo--github{
  background-color: #ffffff00;
  left: 10%;  
}

.linkLogo--medium{
  background-color: #ffffff00;
  left: 70%;
  animation-delay: 1s
}

.linkLogo:hover{
  animation: none;
  transform: scale(1.2);
  transition: .5s
}

.projectCard{
  position: absolute;
  top: 6vw;
  height: 35vw;
  width: 20vw;
  perspective: 1000px;
  animation: ease-in-out proFadein 1s; 
}

.projectCard--covid{
  left: 5%;
}

.projectCard--scratch{
  left: 28.3%;
  animation: ease-in-out proFadein 1.3s;
}

.projectCard--baby{
  left: 51.6%;
  animation: ease-in-out proFadein 1.6s;
}

.projectCard--katchups{
  left: 75%;
  animation: ease-in-out proFadein 1.9s;
}

.projectCardInner{
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative; 
  z-index: 10;
}


.projectCardInner:hover {
  transform: rotateY(-180deg)
}

.projectCardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;  
}

.projectCardFace--back-covid {  
  background-color: #141414; 
  transform: rotateY(180deg);
  text-align: center; 
  font-size: .8vw;
  box-shadow: inset -23px -23px 33px #0a0a0a,
            inset 23px 23px 33px #1e1e1e;
}

.projectCardFace--front-covid { 
  transform: rotateY(0deg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  font-size: .8vw; 
  box-shadow: inset -23px -23px 33px #0a0a0a,
            inset 23px 23px 33px #1e1e1e;
}

.projectCardFace--back-scratch {  
  background-color: #7efdd0; 
  transform: rotateY(180deg);
  text-align: center; 
  color: #141414; 
  font-size: .8vw;
  box-shadow: inset -23px -23px 33px #39725e,
            inset 23px 23px 33px #c3ffff;
}

.projectCardFace--front-scratch {  
  transform: rotateY(0deg); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  font-size: .8vw;
  box-shadow: inset -23px -23px 33px #39725e,
            inset 23px 23px 33px #c3ffff;
}

.projectCardFace--back-baby {  
  background-color: #e2d884; 
  transform: rotateY(180deg);
  text-align: center;  
  color: #141414;
  font-size: .8vw;
  box-shadow: inset -23px -23px 33px #66613b,
            inset 23px 23px 33px #ffffcd;
}

.projectCardFace--front-baby { 
  transform: rotateY(0deg); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  font-size: .8vw; 
  box-shadow: inset -23px -23px 33px #66613b,
            inset 23px 23px 33px #ffffcd;
}

.projectCardFace--back-katchups {  
  background-color: #923435; 
  transform: rotateY(180deg);
  text-align: center; 
  color: #ffffff; 
  font-size: .8vw;
  box-shadow: inset -23px -23px 33px #421718,
            inset 23px 23px 33px #e25152;
}

.projectCardFace--front-katchups {  
  transform: rotateY(0deg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  font-size: .8vw;
  box-shadow: inset -23px -23px 33px #421718,
            inset 23px 23px 33px #e25152;
}

.projectCardFace--front {
  background-color: #310ef82d;   
  transform: rotateY(0deg); 
  background-repeat: no-repeat;
  background-size: cover; 
  font-size: .8vw;
}

.card{
  position: absolute;
  top: 13vw;
  right: 10%;
  height: 20vw;
  width: 35vw;
  perspective: 1000px;  
}

.card.sent {
  animation: cardFadeoutUp 2s;
}

.thanksCard{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2vw;
  font-size: 1.2vw;
  background-color: rgba(251, 251, 251, 0.555);
  border-radius: 10px;
  box-shadow: 5px 5px 15px #231f20;;
  text-shadow: 0px 2px 2px #666666b2;
  animation: fadeup 2s;
  color: #3f3f3f;
  position: relative;
 
}

.cardInner{
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  z-index: 10;
}


.cardInner.isFlipped{
  transform: rotateY(180deg)
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

.cardFace--back {  
  transform: rotateY(180deg);  
}

.cardFace--front {  
  transform: rotateY(0deg);  
}

.businessCard{
  position: absolute;  
  height: 100%;
  width: 100%;
  background-color: #7da393;
  box-shadow: inset -13px -13px 26px #587267,
            inset 13px 13px 26px #a3d4bf,
            5px 5px 15px #231f20;
  border-radius: 15px;
  
  animation: fadeup 2s; 
}

.businessCardMask{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #231f20;
  border-radius: 15px;
  box-shadow: inset -13px -13px 26px #191616,
            inset 13px 13px 26px #2e282a;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.businessCardBack{
  position: absolute;
  text-align: center;
  color: #363636;
  height: 100%;
  width: 100%;
  background-color: rgba(251, 251, 251, 0.555);
  box-shadow: inset -13px -13px 26px #50504d,
            inset 13px 13px 26px #eae8e1,
            5px 5px 15px #231f20;
  border-radius: 15px;
}

.cardName{
  position: absolute;
  top: 8%;
  text-align: center;
  font-family: 'Alegreya SC';
  font-size: 2.2vw;
  font-weight: 700;
  right: 5%;
  color: #7da393;
  background-color: #61dafb00;
  border: none;
}

.cardName:focus {
  outline: none;
}

.cardTitle{
  position: absolute;
  font-size: .8vw;
  text-align: right;
  top: 25%;
  right: 48%;
  color: #9b9b9b;
  background-color: #61dafb00;
  border: none;
}

.cardTitle:focus {
  outline: none;
}

.cardCompany{
  position: absolute;
  font-size: .8vw;
  top: 25%;
  right: 7%;
  color:#9b9b9b;
  background-color: #61dafb00;
  border: none;
}

.cardCompany:focus {
  outline: none;
}

.cardEmail{
  position: absolute;
  font-size: 1vw;
  width: 60%;
  top: 47%;
  left: 33%;
  color: #d1d1d1;
  background-color: #61dafb00;
  border: none;
}

.cardEmail:focus {
  outline: none;
}

.cardPhone{
  position: absolute;
  font-size: 1vw;
  top: 67%;
  left: 33%;
  color: #d1d1d1;
  background-color: #61dafb00;
  border: none;
}

.cardPhone:focus {
  outline: none;
}

.cardButton{
  position: absolute;
  padding: .4vw;
  padding-left: 20%;
  padding-right: 20%;
  font-size: .9vw;
  font-weight: 600;
  text-align: center;
  font-family: 'Alegreya SC';
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#7da393;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #2a2a2a;
  text-shadow: 0px 3px 5px #2a2a2a;
  border: none;
  transition: box-shadow 0.5;
}

.cardButton:hover {
  box-shadow: 0px 1px 5px #202020;
  background-color:#799c8e;
}

.cardButton:focus {
  box-shadow: 0px 1px 4px #181818;
  background-color:#779b8c;
  outline: none;
}

.envelope{
  position: absolute;
  top: -.7vw;
  left: -1.8vw;
  height: 110%;
  width: 110%;
  filter: drop-shadow(5px 5px 15px #231f20);
  perspective: 1000px;
}

.envelopeLeft {
  position: absolute;
  background-color: #b1b1b1;
  height: 100%;
  width: 100%;
  padding: 5%;
  left: -1.8vw;
  top: -.7vw;
  box-shadow: inset -13px -13px 26px #5a5a5a,
            inset 13px 13px 26px #ffffff;
  clip-path: polygon(0% 0, 10% 0, 100% 100%, 0 100%);
  animation: envFaderight 2s;
  z-index: 12;
}

.envelopeRight {
  position: absolute;
  background-color: #bebebe;
  height: 100%;
  width: 100%;
  padding: 5%;
  left: -1.8vw;
  top: -.7vw;
  box-shadow: inset -13px -13px 26px #616161,
            inset 13px 13px 26px #ffffff;
  clip-path: polygon(90% 0, 100% 0, 100% 100%, 0 100%);
  z-index: 14;
  animation: envFadeleft 3s;
}

.envelopeBack {
  position: absolute;
  padding: 5%;
  left: -1.8vw;
  top: -.7vw;
  background-color: #9b9b9b;
  height: 100%;
  width: 100%;
  z-index: 8;
  animation: envFadeup 1s;
}

.envelopeTop {
  position: absolute;
  background-color: #c0c0c0;
  height: 100%;
  width: 100%;
  padding: 5%;
  left: -1.8vw;
  top: -.7vw;
  top: -120.8%;
  box-shadow: inset -13px -13px 26px #626262,
            inset 13px 13px 26px #ffffff;
  clip-path: polygon(50% 45%, 100% 90%, 100% 100%, 0 100%, 0 90%);
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center bottom;
  perspective: 1000px;
  z-index: 16;
  animation: envFadeup 1s;
}

.envelopeTop.sealed{
  transform: rotateX(-180deg)
}

.finalSubmit{
  position: absolute;
  padding: .4vw;
  padding-left: 20%;
  padding-right: 20%;
  font-size: .9vw;
  font-weight: 600;
  text-align: center;
  font-family: 'Alegreya SC';
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#7da393;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #2a2a2a;
  text-shadow: 0px 3px 5px #2a2a2a;
  border: none;
  transition: box-shadow 0.5;
}

.finalSubmit:hover {
  box-shadow: 0px 1px 5px #202020;
  background-color:#799c8e;
}

.finalSubmit:focus {
  box-shadow: 0px 1px 4px #181818;
  background-color:#779b8c;
  outline: none;
}

.contactFolder{
  position: absolute;
  background-color: tan;
  width: 100%;
  height: 46vw;
  bottom: -46.2vw;
  border-top: 4px groove rgb(121, 121, 121);
  border-radius: 15px 15px 0px 0px;
  z-index: 3;
  animation: fadeup 2s;
}

.projectsFolder{
  position: absolute;
  background-image: linear-gradient(to right, #141414 15%, #7efdd0 40%, #e2d884 65%, #923435 90%);
  width: 100%;
  height: 46vw;
  bottom: -46.2vw;
  border-top: 4px groove rgb(121, 121, 121);
  border-radius: 15px 15px 0px 0px;
  z-index: 2;
  animation: fadeup 2.5s;
}

.linksFolder{
  position: absolute;
  background-color: #231f20;
  width: 100%;
  height: 46vw;
  bottom: -46.2vw;
  border-top: 4px groove rgb(121, 121, 121);
  border-radius: 15px 15px 0px 0px;
  z-index: 1;
  animation: fadeup 3s;
}

.contactButton{
  position: absolute;
  width: 10vw;
  height: 1.7vw;
  background-color: tan;
  bottom: 99.9%;
  left: 35%;
  font-family: 'Alegreya SC';
  font-size: 1.4vw;
  font-weight: 700;
  color: #464646;
  border: 3px groove rgb(121, 121, 121);
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  border-bottom: none;
}

.projectsButton{
  position: absolute;
  width: 10vw;
  height: 1.7vw;
  background-image: linear-gradient(to right,#7efdd0 -300%, #e2d884 65%, #923435 190%);
  bottom: 99.9%;
  left: 60%;
  font-family: 'Alegreya SC';
  font-size: 1.4vw;
  font-weight: 700;
  color: #464646;
  border: 3px groove rgb(121, 121, 121);
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  border-bottom: none;
}

.linksButton{
  position: absolute;
  width: 10vw;
  height: 1.8vw;
  background-color: #231f20;
  bottom: 99.9%;
  left: 85%;
  font-family: 'Alegreya SC';
  font-size: 1.4vw;
  font-weight: 700;
  color: #a1a1a1;
  border: 3px groove rgb(121, 121, 121);
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  border-bottom: none;
}

.envelopeIcon{
  position: absolute;
  font-size: 1vw;
  top: 47%;
  right: 70%;
}

.phoneIcon{
  position: absolute;
  font-size: 1vw;
  top: 67%;
  right: 70%;
}



button:focus {
  outline:0;
}

p.at{
  position: absolute;
  top: 22%;
  left: 56%;
  font-size: .8vw;
}

div.a {
  text-indent: 1em;
}

div.b {
  text-indent: 2em;
}

div.c {
  text-indent: 3em;
}

div.contactText{
  position: absolute;
  height: 90%;
  width: 30%;
  left: 10%;
}

pre.code {
  position: absolute;
  left: 57%;
  top: 8%;
}

pre.intro {
  position: absolute;
  height: 90%;
  width: 40%;
  left: 8%;
  top: 6%
}

div.connectPar {
  position: relative;
  height: 40%;
  width: 75%;
  left: 0%;
  top: -40px;
  padding: 2vw;
  background-color: rgba(251, 251, 251, 0.555);
  border-radius: 10px;
  box-shadow: 5px 5px 15px #231f20;
  text-shadow: 0px 2px 2px #5555559d;
  animation: fadeleft 2s;
}

textarea {
  width: 90%;
  height: 13vw;
  resize: none;
  border: none;
  background-color: #61dafb00;
}
textarea:focus{
  outline: none;
}

@media screen and (min-width: 1200px) {
  .linksButton {
     font-size: 19px;
  }

  .projectsButton {
    font-size: 19px;
  }

  .contactButton {
    font-size: 19px;
  }
}

@media only screen and (max-width : 800px) {
  pre.intro {
    position: absolute;
    height: 34%;
    width: 85%;
    left: 8%;
    top: 62%
  } 

  pre.code {
    position: absolute;
    left: 10%;
    top: 3%;
  }

  #typewriter{
    font-size: 2.4vw;
    margin: 0;
    font-family: "Courier New";

    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
  }

  .card{
    position: absolute;
    top: 54vw;
    right: 15%;
    height: 35vw;
    width: 70vw;
    perspective: 1000px;  
  }

  .contactFolder{
    position: absolute;
    background-color: tan;
    width: 100%;
    height: 126vw;
    bottom: -126.2vw;
    border-top: 4px groove rgb(121, 121, 121);
    border-radius: 15px 15px 0px 0px;
    z-index: 3;
    animation: fadeup 2s;
  }

  h1.connect{
    font-size: 15vw;
    font-weight: 1000;
    background-color: rgba(14, 14, 14, 0.705);
    color: transparent;
    text-shadow: 4px 4px 12px #231f20;              
    -webkit-background-clip: text;
            background-clip: text;
    animation: fadedown 3s;
  }

  p.connect{
    font-size: 2vw;
    color: #2a2a2a;
    font-weight: 400;
    animation: faderight 3s;
  }

  div.connectPar {
    position: relative;
    height: 40%;
    width: 100%;
    left: 0%;
    top: 47vw;
    padding: 2vw;
    background-color: rgba(251, 251, 251, 0.555);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #231f20;
    text-shadow: 0px 2px 2px #5555559d;
    animation: fadeleft 2s;
  }

  div.contactText{
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    position: absolute;
    height: 90%;
    width: 80%;
    left: 9%;
  }

  .cardName{
    position: absolute;
    top: 8%;
    text-align: center;
    font-family: 'Alegreya SC';
    font-size: 3.6vw;
    font-weight: 700;
    right: 15%;
    color: #7da393;
    background-color: #61dafb00;
    border: none;
  }

  .cardTitle{
    position: absolute;
    font-size: 2.5vw;
    text-align: right;
    top: 25%;
    right: 55%;
    color: #9b9b9b;
    background-color: #61dafb00;
    border: none;
  }

  .cardCompany{
    position: absolute;
    font-size: 2.5vw;
    top: 25%;
    right: 5%;
    color:#9b9b9b;
    background-color: #61dafb00;
    border: none;
  }
  
  .cardEmail{
    position: absolute;
    font-size: 2.5vw;
    width: 60%;
    top: 47%;
    left: 25%;
    color: #d1d1d1;
    background-color: #61dafb00;
    border: none;
  }
  
  .cardPhone{
    position: absolute;
    font-size: 2.5vw;
    top: 67%;
    left: 25%;
    color: #d1d1d1;
    background-color: #61dafb00;
    border: none;
  }
  
  .cardButton{
    position: absolute;
    padding: 1vw;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    font-family: 'Alegreya SC';
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#7da393;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #2a2a2a;
    text-shadow: 0px 3px 5px #2a2a2a;
    border: none;
    transition: box-shadow 0.5;
  }

  .envelopeIcon{
    position: absolute;
    font-size: 2.5vw;
    top: 47%;
    right: 77%;
  }
  
  .phoneIcon{
    position: absolute;
    font-size: 2.5vw;
    top: 67%;
    right: 77%;
  }

  .finalSubmit{
    position: absolute;
    padding: 1vw;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    font-family: 'Alegreya SC';
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#7da393;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #2a2a2a;
    text-shadow: 0px 3px 5px #2a2a2a;
    border: none;
    transition: box-shadow 0.5;
  }

  p.at{
    position: absolute;
    top: 20%;
    left: 48%;
    font-size: 2.1vw;
  }

  .thanksCard{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2vw;
    font-size: 2.6vw;
    background-color: rgba(251, 251, 251, 0.555);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #231f20;;
    text-shadow: 0px 2px 2px #666666b2;
    animation: fadeup 2s;
    color: #3f3f3f;
    position: relative;
   
  }

  .projectsFolder{
    position: absolute;
    background-image: linear-gradient(to right, #141414 15%, #7efdd0 40%, #e2d884 65%, #923435 90%);
    width: 100%;
    height: 126vw;
    bottom: -126.2vw;
    border-top: 4px groove rgb(121, 121, 121);
    border-radius: 15px 15px 0px 0px;
    z-index: 2;
    animation: fadeup 2.5s;
  }  

  .projectCard{
    position: absolute;
    top: 6vw;
    height: 50%;
    width: 50%;
    perspective: 1000px;
    animation: ease-in-out proFadein 1s; 
  }
  
  .projectCard--covid{
    top: 0%;
    left: 0%;
  }
  
  .projectCard--scratch{
    position: absolute;
    top: 0%;
    left: 50%;
    animation: ease-in-out proFadein 1.3s;
  }
  
  .projectCard--baby{
    top: 50%;
    left: 0%;
    animation: ease-in-out proFadein 1.6s;
  }
  
  .projectCard--katchups{
    top: 50%;
    left: 50%;
    animation: ease-in-out proFadein 1.9s;
  }

  .projectCardFace {
    border-radius: 0px;  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;  
  }

  .projectCardFace--back-covid {  
    background-color: #141414; 
    transform: rotateY(180deg);
    text-align: center; 
    font-size: 1.65vw;
    border-top-left-radius: 15px;
    box-shadow: inset -23px -23px 33px #0a0a0a,
              inset 23px 23px 33px #1e1e1e;
  }
  
  .projectCardFace--front-covid { 
    transform: rotateY(0deg); 
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: .8vw; 
    border-top-left-radius: 15px;
    box-shadow: inset -23px -23px 33px #0a0a0a,
              inset 23px 23px 33px #1e1e1e;
  }
  
  .projectCardFace--back-scratch {  
    background-color: #7efdd0; 
    transform: rotateY(180deg);
    text-align: center; 
    color: #141414; 
    font-size: 1.65vw;
    border-top-right-radius: 15px;
    box-shadow: inset -23px -23px 33px #39725e,
              inset 23px 23px 33px #c3ffff;
  }
  
  .projectCardFace--front-scratch {  
    transform: rotateY(0deg); 
    background-repeat: no-repeat;
    background-size: cover; 
    border-top-right-radius: 15px;
    font-size: .8vw;
    box-shadow: inset -23px -23px 33px #39725e,
              inset 23px 23px 33px #c3ffff;
  }
  
  .projectCardFace--back-baby {  
    background-color: #e2d884; 
    transform: rotateY(180deg);
    text-align: center;  
    color: #141414;
    font-size: 1.65vw;
    box-shadow: inset -23px -23px 33px #66613b,
              inset 23px 23px 33px #ffffcd;
  }
  
  .projectCardFace--front-baby { 
    transform: rotateY(0deg); 
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: .8vw; 
    box-shadow: inset -23px -23px 33px #66613b,
              inset 23px 23px 33px #ffffcd;
  }
  
  .projectCardFace--back-katchups {  
    background-color: #923435; 
    transform: rotateY(180deg);
    text-align: center; 
    color: #ffffff; 
    font-size: 1.65vw;
    box-shadow: inset -23px -23px 33px #421718,
              inset 23px 23px 33px #e25152;
  }
  
  .projectCardFace--front-katchups {  
    transform: rotateY(0deg); 
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: .8vw;
    box-shadow: inset -23px -23px 33px #421718,
              inset 23px 23px 33px #e25152;
  }
  
  .projectCardFace--front {
    background-color: #310ef82d;   
    transform: rotateY(0deg); 
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: .8vw;
  }

  .linksFolder{
    position: absolute;
    background-color: #231f20;
    width: 100%;
    height: 126vw;
    bottom: -126.2vw;
    border-top: 4px groove rgb(121, 121, 121);
    border-radius: 15px 15px 0px 0px;
    z-index: 1;
    animation: fadeup 3s;
  }

  .linkLogo--linkedin{
    background-color: #ffffff00;
    left: 60%;
    top: 37%;
    animation-delay: .5s;
  }
  
  .linkLogo--github{
    background-color: #ffffff00; 
    left: 10%;  
  }
  
  .linkLogo--medium{
    background-color: #ffffff00;
    left: 10%;
    top: 65%;
    animation-delay: 1s
  }

  .linkLogo{
    background-color: #ffffff00;
    width: 28vw;
    height: 28vw;
    position: absolute;
    margin: 0 auto;
    border-radius: 30%;
    border: solid 1.3vw rgba(255, 255, 255, 0);
    
  }

  .contactButton{
    position: absolute;
    width: 15vw;
    height: 3.7vw;
    background-color: tan;
    bottom: 99.9%;
    left: 35%;
    font-family: 'Alegreya SC';
    font-size: 2vw;
    font-weight: 700;
    color: #464646;
    border: 3px groove rgb(121, 121, 121);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    border-bottom: none;
  }
  
  .projectsButton{
    position: absolute;
    width: 15vw;
    height: 3.7vw;
    background-image: linear-gradient(to right,#7efdd0 -300%, #e2d884 65%, #923435 190%);
    bottom: 99.9%;
    left: 58%;
    font-family: 'Alegreya SC';
    font-size: 2vw;
    font-weight: 700;
    color: #464646;
    border: 3px groove rgb(121, 121, 121);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    border-bottom: none;
  }
  
  .linksButton{
    position: absolute;
    width: 15vw;
    height: 3.7vw;
    background-color: #231f20;
    bottom: 99.9%;
    left: 80%;
    font-family: 'Alegreya SC';
    font-size: 2vw;
    font-weight: 700;
    color: #a1a1a1;
    border: 3px groove rgb(121, 121, 121);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    border-bottom: none;
  }
  
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeup {
  from { transform: translateY(3rem); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

@keyframes fadedown {
  from { transform: translateY(-3rem); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

@keyframes fadeleft {
  from { transform: translateX(3rem); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes faderight {
  from { transform: translateX(-3rem); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes fadeout {
  from { background-color: rgba(34,34,34,1); }
  to   { background-color: rgba(34,34,34,0); }
}

@keyframes envFadeup {
  from { transform: translateY(13rem); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

@keyframes envFadedown {
  from { transform: translateY(-13rem); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

@keyframes envFadeleft {
  from { transform: translateX(13rem); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes envFaderight {
  from { transform: translateX(-13rem); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes cardFadeoutUp {
  from {transform: translateX(0); opacity: 1; }
  to   {transform: translateY(-63rem); opacity: 0;}
}

@keyframes proFadein {
  from {transform: rotateY(-90deg); opacity: 0;}
  to   {transform: rotateY(0deg); opacity: 1;}
}

@keyframes slide-in-bck-top {
  0% {
          transform:translateZ(1200px) scale(3) translateY(-300px);
          opacity:0;
       }
  100%   {
          transform:translateZ(0) scale(1) translateY(0);
          opacity:1;
       }
       
}

@keyframes play {
  0% {
    transform: scale(1)
  }
  30% {
    transform: scale(1); box-shadow: 0 0 0 0vw rgba(77, 77, 77, 0.1)
  }
  35%{
    box-shadow: 0 0 0 1vw rgba(77, 77, 77, 0.1)
  }
  45%{
    box-shadow: 0 0 0 1vw rgba(77, 77, 77, 0.1), 0 0 0 2vw rgba(77, 77, 77, 0.1)
  }
  50%{
    transform: scale(1.2)
  }
  70%{
    box-shadow: 0 0 0 1vw rgba(77, 77, 77, 0.1), 0 0 0 2vw rgba(77, 77, 77, 0.1), 0 0 0 3vw rgba(77, 77, 77, 0.1)
  }
  99%{
    transform: scale(1)
  }
}